.nav-bg {
    background-color: rgb(255, 111, 15);
   
}

.header {
    color: rgba(255, 255, 255, 0.7);
    font-size: large;
    font-family:Arial, Helvetica, sans-serif; 
    margin-left: 10px;  
}

.addtitle {
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
